<h2>Registrar Dirección de Envio</h2>

<form [formGroup]="form">
    <mat-form-field appearance="standard">
        <mat-label>Nombre de Contacto</mat-label>
        <input formControlName="name" matInput placeholder="Marco Alzamora...">
        <mat-icon matSuffix>person</mat-icon>
      </mat-form-field>

    <mat-form-field appearance="standard">
        <mat-label>Correo Electronico</mat-label>
        <input formControlName="email" matInput placeholder="test@gmail.com">
        <mat-icon matSuffix>person</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="standard">
        <mat-label>Dirección</mat-label>
        <input formControlName="direction" matInput placeholder="Calle 123...">
        <mat-icon matSuffix>home</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="standard">
        <mat-label>Referencia</mat-label>
        <input formControlName="reference" matInput placeholder="Frente a la...">
        <mat-icon matSuffix>directions</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="standard">
        <mat-label>Celular</mat-label>
        <input formControlName="phone" matInput type="number" placeholder="922752911">
        <mat-icon matSuffix>call</mat-icon>
      </mat-form-field>
      
      <button mat-raised-button (click)="save()" [disabled]="!form.valid">Guardar</button>
</form>
