<div class="add">
    <h1>{{textMode}}</h1>
    <form [formGroup]="formData">

        <mat-form-field appearance="legacy">
            <mat-label>Nombre del Producto</mat-label>
            <input type="text" formControlName="nombre" matInput placeholder="...">
            <mat-icon matSuffix>forum</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="legacy">
            <mat-label>Categoria</mat-label>
            <mat-select disableRipple formControlName="codCategoria">
                <mat-option [value]="category.codCategoria" *ngFor="let category of categories">{{category.descripcion}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="legacy">
            <mat-label>Precio</mat-label>
            <input type="number" formControlName="precio" matInput placeholder="2123.00">
            <mat-icon matSuffix>attach_money</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="legacy">
            <mat-label>Stock</mat-label>
            <input type="number" formControlName="stock" matInput placeholder="2123.00">
            <mat-icon matSuffix>equalizer</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="legacy">
            <mat-label>Imagen Referencial</mat-label>
            <input type="text" formControlName="imagen" matInput placeholder="www.imgr.com/12gas434...">
            <mat-icon matSuffix>insert_photo</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="legacy">
            <mat-label>Descripción del Producto</mat-label>
            <textarea matInput formControlName="description" placeholder="Caracteristicas del producto..."></textarea>
        </mat-form-field>

        <button *ngIf="mode === 'create'" [disabled]="!formData.valid" color="primary" mat-raised-button (click)="save()">Guardar</button>
        <button *ngIf="mode !== 'create'" [disabled]="!formData.valid" color="primary" mat-raised-button (click)="updateAmount()">Actualizar</button>

        <button style="margin-top: 10px;" *ngIf="mode !== 'create'" color="warn" mat-raised-button (click)="deleteProduct()">Eliminar</button>
    </form>
</div>