<div class="entries animated fadeIn">
   <h1>Mis Productos</h1>

   <div class="entries__btns">
    <h2>N° de Productos: {{products.length}}</h2>
    <button mat-flat-button  (click)="addProduct('create')" color="primary">Agregar Producto</button>
   </div>

   <div class="entries__cards">
       <div class="card" *ngFor="let product of products">
        <div class="card__img">
            <img [src]="product.imagen" [alt]="product.nombre">
        </div>
        <div class="card__description">
           <h2 style="text-align: center;"> {{product.nombre}}</h2>
           <p> <b>Precio:</b> {{product.precio}}</p>
           <p> <b>Stock: </b> {{product.stock}}</p>
           <p> <b>Registro: </b> {{product.FechaPublicacion | date: 'dd-MM-yyy'}}</p>

           <button class="front_btn" mat-fab (click)="addProduct('update', product)" >
            <mat-icon>update</mat-icon>
          </button>
        </div>
       </div>
   </div>
</div>
