
<div class="home">
    <app-navbar></app-navbar>
    <div class="home__content">
        <h1 class="animated fadeIn">{{'Compra y Venta de Productos' | uppercase}}</h1>
        <div class="home__content--buttons animated fadeIn">
            <button mat-raised-button class="btn_register" routerLink="/registro">Registrarse</button>
            <button mat-raised-button class="btn_login" routerLink="/acceder">Iniciar Sesión</button>
        </div>

       
        <div class="home__content--layers">
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
          </div>
    </div>
</div>
